<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
   <ion-card-header>
     <ion-img src="assets/foto.jpg"></ion-img>
   </ion-card-header>
   <ion-card-content>
     <ion-list>
       <ion-item>
         <ion-label>Nombre:</ion-label>
         <ion-input onlyread value="Giovanni Baquero Vargas"></ion-input>
       </ion-item>
       <ion-item>
        <ion-label>Semestre:</ion-label>
        <ion-input onlyread value="Quinto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Carrera:</ion-label>
        <ion-input onlyread value="Desarrollo del Software"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Universidad:</ion-label>
        <ion-input onlyread value="Uniagustiniana"></ion-input>
      </ion-item>
     </ion-list>
   </ion-card-content>
 </ion-card><br>
 <ion-button  expand="block" (click)= "segundapag()" color="secondary" >Página 2</ion-button>
 <ion-button  expand="block" (click)= "tercerapag()" color="secondary">Página 3</ion-button>
</ion-content>
